*.exe
*.o
*.obj
*.vrepl_temp.v
*.tmp.c
a.out.tmp.c
*.vrepl.v
*.vrepl*
.vrepl_temp

.DS_Store
data/.DS_Store

# examples executable files
src/hello_world/hello_world
src/hello_world/hello_world.exe
main
main.v
